.finder {
    margin-bottom: 20px;

}

.smallpic {
    height: 200px;

}

.turn {
    cursor: pointer;
}

.cross {
    cursor: pointer;
}

.iphoto {
    
    font-family: arial,sans-serif;
    margin-left: 10px;
    margin-top: 125px;
    position: absolute;
    z-index: 3;
    height: 17px;
    width: 19px;
    background: url('/images/photo-icon.png') no-repeat 0 0;
    color: white;
}

.logotip {
    height: 50px;
}

.itemphotos {
    height: 70px; 
    padding: 2px;
    cursor: pointer;
}

.photomain {
    width: 400px;
    padding: 20px;
    float:left;
}

.phototape {
}

.itembody {
    height: 900px;
}

.itemprice {
    color: white;
    background: green;
    padding: 5px;
    font-size: large;
    margin-top: 100px;
}

.itemcat {
    color:gray;
    font-size: small;
}

.gray {
    color: graytext;
}

.regnamealert {
  display:none;
}

.regphonealert {
    display:none;
}

.regemailalert {
    display:none;
}